@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define classes for each color */
.mainColor {
  color: #ff6020;
}

.primaryColor {
  color: #2f2f2f;
}

.secondaryColor {
  color: #fff4ef;
}

.secondaryBgColor {
  background: #fff4ef;
}

.bgColor {
  background-color: #f2f2f2;
}

#root {
  display: flex;
  justify-content: center;
}
